<header id="top-header">
    <span class="siteName">
        <img src="/images/site/favicon-32x32.png" alt="CSE Motors Logo">
        <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div class="login-tools">
        <% if (loggedin) { %>
            <a href="/account/manage" title="Account Management">Welcome <%= account_firstname %></a>
            <a href="/account/logout" title="Click to log out">Logout</a>
        <% } else { %>
            <a href="/account/login" title="Click to log in">My Account</a>
        <% } %>
    </div>
</header>

