/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/************ Body Styles ***************/

body {
  max-width: 1600px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Apply background image to the entire page */
.background-image {
  display: none;
}

/* Style the content container with a white background */
.content-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: white;
  padding: 10px;
  margin: 20px auto;
  max-width: 1200px;
  border: none;
  border-radius: 10px;
}


/************ Header Styles ***************/

#top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  padding-bottom: 20px;
  padding-left: 0;
  text-align: left;
}
.siteName a{
  color: black;
  font-size: 1.75rem;
  margin: 0;
  padding-left: 0;
  justify-content: center;
  text-decoration: none;
  text-align: left;
}

#tools a{
  color: black;
  display: flex;
  justify-content: center;
  padding-right: 20px;
  text-decoration: none;
}

/************ Navigation Styles ***************/

nav {
  background-color: black;
  color: white;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  padding: 10px;
  text-decoration: none;
}

/************ Main Styles ***************/

main h1 {
  font-size: 1.5rem;
}

.pic-text-container {
  position: relative;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-wrapper {
  flex-shrink: 0;
  position: relative;
}

#car {
  max-width: 100%;
}

#text-container {
  color: rgb(43, 126, 153);
  background-color: rgba(255, 255, 255, 0.896);
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  padding: 10px;
  z-index: 1;
  width: 40%;
  margin: 0 auto;
  text-align: left;
  line-height: 1;
  font-size: 1rem;
}

#text-container button {
  background-color: rgb(43, 126, 153);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

#text-container button:hover {
  cursor: pointer;
}

.bottom-half-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  align-self: flex-start;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 10px;
  margin-top: 100px;
}

#table-container {
  text-align: left;
  justify-content: flex-start;
  align-self: flex-start;
  order: 2;
}

#table-container h2 {
  margin-top: 0;
  text-align: left;
  margin-left: 10px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.upgrade-item {
  padding: 10px;
  text-align: center;
  text-decoration: underline;
  color: rgb(43, 126, 153);
}

.upgrade-item img {
  background-color: rgb(109, 165, 184);
  padding: 25%;
  border: rgb(43, 126, 153) 2px solid;
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 160px;
}

#reviews-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  padding-left: 0;
  text-align: left;
  margin-top: -20px;
  margin-left: 10px;
  margin-bottom: 30px;
  order: 1;
}

#reviews-container h2 {
  padding-left: 0;
  text-align: left;
  padding-bottom: 0;
  line-height: 1;
}

#reviews-container ul {
  list-style-position: inside;
  line-height: 2.5;
  padding: 0;
}

/************ Footer Styles ***************/



/************ Media Queries ***************/

@media only screen and (min-width: 768px) {

  .background-image {
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .content-container {
    width: 90%;
    height: 90%;
    padding: 20px;
    border: rgb(43, 126, 153) 5px solid;
  }
  
  .siteName a{
    font-size: 2rem;
    text-align: center;
  }  

  main h1 {
    font-size: 2rem;
  }

  .pic-text-container {
    flex-direction: row;
    margin-bottom: 80px;
  }

  #text-container {
    width: 30%;
    left: 0;
    padding: 20px;
    font-size: 1.25rem;
  }

  #text-container h2 {
    font-size: 1.2rem;
  }

  #text-container button {
    font-size: 1rem;
  }

  .bottom-half-container {
    flex-direction: row;
    margin-bottom: 80px;
  }

  #table-container {
    order: 1;
  }

  #reviews-container {
    order: 2;
  }

  #reviews-container ul {
    line-height: 4;
  }
}