<!-- This is the Title -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- This is for messages and is currently not executed because of the # symbol. change to (-) to make it work-->
<%# messages() %>


<!-- Inventory Items Display -->
<%- grid %>

