<h1>
    <%= title %>
</h1>
<div class="error-container">
    <img id="lost-boys" src="/images/site/peterpan-lost.webp" alt="Lost boys of Peter Pan">
    <p class="lost-message">
        <%= message %>
    </p>
</div>